# Ignore all room folders except for world tour
Room_**
!Room_collabwt1*
!Room_collabwt1*/*
!Room_collabwt1*/*/*
!Room_collabwt1*/*/*/*
!Room_collabwt1*/*/*/*/*
!Room_collabwt2*
!Room_collabwt2*/*
!Room_collabwt2*/*/*
!Room_collabwt2*/*/*/*
!Room_collabwt2*/*/*/*/*

# Ignore backup/temp folders
**/Backups/
**/Temp

# OS specific files
**/.DS_Store

# IDE and project files
/.idea
*.iml